body {
    font-family: Arial, sans-serif;
    background: url('./img/cena-de-fantasia-em-3d_23-2151127988.avif') no-repeat center center fixed;
    background-size: cover;
    color: #fff;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
}

button:hover {
    background-color: #0056b3;
}
